@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 120 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 120 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 120 84% 4.9%;

    --primary: 120 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 120 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 120 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 120 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 120 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 120 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 120 47.4% 11.2%;

    --secondary: 120 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 120 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 120 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 120 32.6% 17.5%;
    --input: 120 32.6% 17.5%;
    --ring: 120 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-screen {
  @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

.custom-btn-bg {
  background: radial-gradient(
    67.5% 67.5% at 50% 50%,
    #4b5563 0%,
    rgba(75, 85, 99, 0) 100%
  );
}

.custom-btn-bg:hover {
  background: radial-gradient(
    118.75% 118.75% at 50% 50%,
    #4b5563 0%,
    rgba(75, 85, 99, 0) 100%
  );
}
